<div ng-controller="headerController as vm" class="header">
    <!-- Fixed navbar -->
    <nav id="header" class="navbar navbar-fixed-top" nav-scroll-lock>
        <div id="header-container" class="container-full navbar-container">
            <div id="navbar-trending" set-width>
                <ul class="list-inline navbar-trending-list">
                    <li class="trending-item"><i class="fa fa-anchor"></i></li>
                    <li ng-repeat="item in vm.communities"><a ui-sref="community.{{item.title}}" href="#">{{item.title}}</a></li>
                </ul>
            </div>
            <div class="navbar-header adjust-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="#">
                    <div class="inline">
                        <img id="logoMark" src="Content/images/logo_mark_large.png" class="header-logomark" alt="" title="" />
                    </div>
                    <div class="inline">
                        <img src="Content/images/logo_type.png" class="header-logotype" alt="" title="" />
                    </div>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" mega-menu>
                    <li class="active"><a ui-sref="main.catalog" href="#">Latest</a></li>
                    <li class="dropdown mega-dropdown">
                        <a ui-sref="main.catalog" href="#" class="dropdown-toggle" data-toggle="dropdown">Communities</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Features</li>
                                    <li><a href="#">Auto Carousel</a></li>
                                    <li><a href="#">Carousel Control</a></li>
                                    <li><a href="#">Left & Right Navigation</a></li>
                                    <li><a href="#">Four Columns Grid</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Fonts</li>
                                    <li><a href="#">Glyphicon</a></li>
                                    <li><a href="#">Google Fonts</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Plus</li>
                                    <li><a href="#">Navbar Inverse</a></li>
                                    <li><a href="#">Pull Right Elements</a></li>
                                    <li><a href="#">Coloured Headers</a></li>
                                    <li><a href="#">Primary Buttons & Default</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Much more</li>
                                    <li><a href="#">Easy to Customize</a></li>
                                    <li><a href="#">Calls to action</a></li>
                                    <li><a href="#">Custom Fonts</a></li>
                                    <li><a href="#">Slide down on Hover</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Women Collection</li>
                                    
                                    <li class="divider"></li>
                                    <li><a href="#">View all Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a ui-sref="main.catalog" href="#">Users</a></li>
                    <li><a ui-sref="main.catalog" href="#">News</a></li>
                </ul>
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" placeholder="SEARCH" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary search-btn"><span><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>
